.no-food-waste {
  &__container {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    scrollbar-width: thin;
  
    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
      height: 10px;
    }
  
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: #dbdbdb;
    }
  }
}
