@font-face {
  font-family: "PetshareFont";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('../../assets/fonts/Prompt-Light.woff2') format('woff2');
}

@font-face {
  font-family: "PetshareFont";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('../../assets/fonts/Prompt-Medium.woff2') format('woff2');
}

@font-face {
  font-family: "PetshareFont";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('../../assets/fonts/Prompt-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: "PetshareFont";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../../assets/fonts/Ubuntu-Bold.woff2') format('woff2');
}
