@import "normalize";
@import "variables";
@import "mixins";
@import "fonts";
@import "grid.min";

body {
  font-family: "PetshareFont", Arial, sans-serif;
  font-size: 16px;
  color: var(--description-color);
  line-height: 24px;
}

.text {
  &--title {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: var(--title-color);
  }

  &--weight-500 {
    font-weight: 500;
  }

  &--size-10 {
    font-size: 10px;
  }

  &--size-12 {
    font-size: 12px;
  }

  &--size-14 {
    font-size: 14px;
  }

  &--size-16 {
    font-size: 16px;
  }

  &--size-18 {
    font-size: 18px;
  }

  &--size-24 {
    font-size: 24px;
  }

  &--typography-white {
    color: var(--white-text);
  }

  &--typography-gray {
    color: var(--gray-text);
  }

  &--typography-title {
    color: var(--title-color);
  }

  &--primary {
    color: var(--primary);
  }

  &--bold {
    font-weight: 500;
  }

  &--bolder {
    font-weight: 600;
  }
}

a {
  text-decoration: none;
  color: var(--description-color);
  transition: 0.5s;

  &:hover {
    color: var(--primary);
  }
}

.tag {
  height: 15px;
  padding: 0 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 9px;
  line-height: 15px;
  color: #ffffff;
  border-radius: 10px;

  &--blue {
    background: rgba(27, 208, 220, 0.9);
  }

  &--red {
    background: #cf1f3c;
  }
}

.btn-invisible {
  border: none;
  background: none;
  padding: 0;
  outline: none;
  cursor: pointer;
}

.btn-primary {
  border: 2px solid #1ab9dc;
  box-sizing: border-box;
  border-radius: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;

  color: #1ab9dc;
  padding: 8px 4px;
}

a {
  font-family: "PetshareFont", Arial, sans-serif;
}

.card {
  border: 1px solid #edf2f7;
  box-sizing: border-box;
  padding: 0 14px;
  display: flex;
  align-items: center;
  min-height: 58px;

  &--active {
      border: 2px solid var(--primary);
  }
}

.position {
  &--relative {
    position: relative;
  }
}

.cursor {
  &--pointer {
    cursor: pointer;
  }
}
