@import "normalize";
@import "variables";
@import "mixins";
@import "fonts";
@import "grid.min";

body {
  font-family: "PetshareFont", Arial, sans-serif;
  font-size: 16px;
  color: var(--description-color);
  line-height: 24px;
}

.text {
  &--title {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: var(--title-color);
  }

  &--size-10 {
    font-size: 10px;
  }

  &--size-24 {
    font-size: 24px;
  }

  &--typography-white {
    color: var(--white-text);
  }

  &--typography-gray {
    color: var(--gray-text);
  }
}

.tag {
  height: 15px;
  padding: 0px 6px;
  font-family: PetshareFont;
  font-style: normal;
  font-weight: 600;
  font-size: 9px;
  line-height: 15px;
  color: #ffffff;
  border-radius: 10px;

  &--blue {
    background: rgba(27, 208, 220, 0.9);
  }

  &--red {
    background: #CF1F3C;
  }
}

.btn-invisible {
  border: none;
  background: none;
  padding: 0;
  outline: none;
  cursor: pointer;
}
