.gallery {
    width: 100%;
    height: 265px;
    position: relative;

    .back-arrow {
        position: absolute;
        top: 14px;
        left: 14px;

        img {
            cursor: pointer;
        }
    }

    img {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        width: 100%;
        height: 100%;
        // object-fit: contain;
    }

    .rounded-bottom-border {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 10px;
        width: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        background-color: #FFF;
    }
}

.handle {
    width: 82px;
    height: 3px;
    background-color: #C7CFD8;
    border-radius: 10px;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #C7CFD8;
}
